h1 {
  color: green
}
.App {
  background-color: rgb(224, 244, 216);
}
.total {
  display: flex;
  font-size: larger;

}
.basket {
  position: fixed;
    top: 50px;
    right: 20px;
    width: 200px;
    background-color: #e9efcc;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
